*{
    font-family: "Roboto";
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding-top: 16px;
}
h1{
    font-weight: 700;
    padding-left: 64px;
}
ul{
    display: flex;
    list-style: none;
    gap: 16px;
    padding-right: 64px;
}
a{
    color: white;
    text-decoration: none;
}
.section1{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    
}
.text-section1{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 16px;
    padding: 64px;
    width: 40vw;
    align-items: flex-start;
}
h2{
    font-size: 48px;
    font-weight: 900;
}
button{
    background-color:#3882F6 ;
    border-radius: 4px;
    color: white;
    border: none;
    width: 128px;
    height: 32px;

    font-size: 18px;
}
img{
    height: 50vh;
    padding: 64px;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 200px;
    
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.section2-text{
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
    padding: 8px;
}
.happy{
    width: 128px;
    height: auto;
    border: #1f2937 solid 2px;
    padding: 0;
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.section3{
    padding: 64px;
    background-color: #e5e7eb;
}
.section3-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 256px;
}
.name{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 900;
}
.section4-container{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 128px ;
    padding: 32px 64px;
    gap: 16px;
}
.section4-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    color: white;
    padding: 0 18px;
}
.section4-title{
    font-weight: 900;
    font-size: 36px;
}
.section4-button{
    border: white solid 2px;
    border-radius: 8px;
}
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
color: white;
flex-direction: column;
padding-bottom: 16px;
}